#flashcard-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 100px;
  /* min-height: 100vh; */
}
#flashcard_div {
  position: absolute;
  top: 50%;
}
.flashcard {
  width: 500px;
  height: 333px;
  perspective: 1000px;
  /* margin-bottom: 20px; */
}

.flashcard .front,
.flashcard .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}

.flashcard .front {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard .back {
  background-color: #fff;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.front,
.back {
  font-size: 25px;
}

.flashcard.flipped .front {
  transform: rotateY(-180deg);
}

.flashcard.flipped .back {
  transform: rotateY(0deg);
}

.navigation-arrows {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 30px;
}

.navigation-arrows button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.leftArrow,
.rightArrow {
  transition: background-color 1s ease;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.navigation-arrows button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media screen and (max-width: 400px) {
  .flashcard {
    width: 95% !important;
    margin: 0 auto;
  }
}
